<section class="titleholder text-center">
	<h1>начни новую жизнь уже сегодня!</h1>
</section>

<!-- the list of courses is running -->
<div class="courselist container">
	<div class="section-title text-center"><h2>Актуальные курсы</h2></div>
	<div class="row">
		<% @courses_next.each do |course| %>
			<!-- a course -->
			<div class="courselist_item col-sm-4">
				<a href="#"><%= image_tag course.featured_image.url(:homepage), :class => "courselist_item__img img-responsive", :alt => course.title %></a>
					
				<div class="row">
					<div class="col-xs-3 col-sm-4 col-md-3">
						<ul class="courselist_item__date text-center list-unstyled">
							<li class="courselist_item__date-day"><%= l course.start_date, format: :day_of_month %></li>
							<li class="courselist_item__date-month"><%= l course.start_date, format: :month_short %></li>
						</ul>
					</div>
							
					<div class="courselist_item__text pos-rel col-xs-9 col-sm-8 col-md-9">
						<a class="courselist_item__text-title" href="<%= course_path(course) %>"><%= course.title %></a>	
						<p><%= course.short_descr %><br></p>
						<p class="details">
							<strong>Стоимость: 4500&nbsp;руб./мес.<br>
							Продолжительность: <%= course.duration.to_i %> <%= 'мес.'.pluralize(course.duration, locale: :ru) %></strong>
						</p>	
							
						<div class="btn-holder"><a class="btn courselist_item__btn color-fff no-dec" href="<%= course_path(course) %>">Подробнее...</a></div>
					</div>
				</div>
			</div>
		<% end %>
	</div> 
	<div class="row">
		<div id="allcourses" class="col-xs-12 text-center">
		    <a href="<%= courses_path %>">
		    <button type="button" class="btn btn-primary btn-lg signup_button">
			Все курсы
		    </button>
		    </a>
		</div>
	</div>
</div>

<!-- the list of features is running -->
<div class="featureslist text-center">
	<!--<div class="section-title text-center"><h2>Карьера – это:</h2></div>-->
	<div class="container">
		<div class="row">
			<ul class="featureslist_item years-container list-unstyled col-md-4">
				<li class="featureslist_item__title years-icon pos-rel">более<br>25 лет</li>
				<li class="featureslist_item__text">на рынке</li>
			</ul>
			
			
			<ul class="featureslist_item courses-container list-unstyled col-md-4">
				<li class="featureslist_item__title courses-icon pos-rel"><%= @num_courses %> курсов</li>
				<li class="featureslist_item__text">доступно сегодня</li>
			</ul>

			<ul class="featureslist_item stud-container list-unstyled col-md-4">
				<li class="featureslist_item__title stud-icon pos-rel">более<br>17 690</li>
				<li class="featureslist_item__text">выпускников</li>
			</ul>
			
			
		</div>
	</div>
</div>

<!-- the section of comments is running -->
<section class="comments container">
	<div class="section-title text-center">
		<h2>Выпускники о центре</h2>
	</div>
	
	<div class="row">
		<article class="comments_item col-sm-5">
			<h3>Светлана</h3>
			<h4>сметчик</h4>
			<p>Проходила обучение по профессии сметчик. Большое спасибо Танской Ольге Васильевне за интересные и познавательные лекции. Побольше таких замечательных преподавателей. Спасибо Вам за ваши уроки, которые мне очень помогли в моей работе. Желаю Вам здоровья, прилежных учеников и успехов в вашей деятельности.</p> 
		</article>
			
		<article class="comments_item col-sm-5 col-sm-offset-1">
			<h3>Марина К.</h3>
			<h4>менеджмент персонала</h4>
			<p>Прошла обучение по курсу "Менеджмент персонала" в 2009 году по направлению центра занятости. 3 месяца пролетели очень быстро, жалко было расставаться. Очень благодарна преподавателям Карьеры: Наталье Петровне, ее практические советы сейчас применяю у себя на предприятии; Раисе Николаевне, знания на кадрам помогли успешно пройти проверку труд инспекции на моем предприятии. Спасибо преподавателю по компьютеру, жалко что раньше не преподавали 1С Кадры. Желаю сотрудникам Карьеры процветания и открытия новых горизонтов!</p> 
		</article>
	</div>
		
	<div class="row">
		<article class="comments_item col-sm-5">
			<h3>Татьяна</h3>
			<h4>трудоустройство</h4>
			<p>Мне ваш центр помог найти работу секретаря в 2012 году. Работаю на этом месте уже год, и всегда с благодарностью вспоминаю менеджера по персоналу Викторию. Спасибо ей и всему коллективу вашей организации.</p>
		</article>
			
		<article class="comments_item col-sm-5 col-sm-offset-1">
			<h3>Наталья</h3>
			<h4>сметчик</h4>
			<p>Прохожу обучение по профессии сметчик. Насколько интересно, настолько познавательно. Ольга Васильевна действительно ас в своем деле. Интересно, доступно. Пожелать хочу Вам здоровья, удачи и побольше учеников! Сотрудники Карьеры очень добродушные и внимательные. Успехов и процветания в Вашем деле!</p> 
		</article>
	</div>
</section>

<!-- news & actions -->
<div class="newsblock">		
	<div class="container">
		<div class="row">
			<aside class="newsblock-left col-sm-5">
				<h2>новости</h2>
				<% @news.each do |news| %>
					<div class="newsblock_item">
						<a class="newsblock_item__link text-uppercase" href="<%= news_path news %>"><%= l news.created_at, format: :simpledate %></a>
						<p class="newsblock_item__text"><%= news.title %></p>
					</div>
				<% end %>

				<%= link_to 'Все новости', news_index_path, :class => 'newsblock_readmore' %>

			</aside>
			
			<aside class="newsblock-right col-sm-5 col-sm-offset-1">
				<h2>акции</h2>

				<% @hot_offers.each do |offer| %>
					<div class="newsblock_item">
						<a class="newsblock_item__link text-uppercase" href="javascript: void(0)"><%= l offer.created_at, format: :simpledate %></a>
						<p class="newsblock_item__text"><%= offer.content %></p>
					</div>
				<% end %>

				<%= link_to 'Все акции', hot_offers_path, :class => 'newsblock_readmore' %>
			
			</aside>
		</div>
	</div>
</div>

<!-- news & actions -->

<div id="mc_embed_signup" class="subsblock">		
	<div class="container">
		<div class="row">
			<ul class="subsblock-left col-md-7 list-unstyled">
				<li class="subsblock_title color-fff text-uppercase">подпишитесь на новости!</li>
				<li class="subsblock_subtitle color-fff">И получайте информацию об актуальных акциях</li>
			</ul>
			
			<div class="subsblock-left col-md-5">
				<form action="//kariera-centr.us11.list-manage.com/subscribe/post?u=8fb8d6aa19536212a0afae2a2&amp;id=2b0a4f9c83" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<ul class="subsblock_form list-unstyled row">
						<li class="subsblock_form__item col-sm-7">
								<input id="mce-EMAIL" class="subsblock_form__item-input form-control" type="email" value="" name="EMAIL" required="required" />
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8fb8d6aa19536212a0afae2a2_2b0a4f9c83" tabindex="-1" value=""></div>
						</li>
						<li class="subsblock_form__item col-sm-5"><input class="subsblock_form__item-submit btn color-fff bold" type="submit" name="subscribe" id="mc-embedded-subscribe" value="Подписаться" /></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>



<!-- the section of partners is running -->
<section class="partners container">	
	<div class="section-title text-center"><h2>наши партнеры</h2></div>
	
	<div class="row">

		<div class="partners_item col-sm-3">
			 
		</div> 	
			
		<div class="partners_item col-sm-2">
			<img class="partners_item__img img-responsive" src="/images/content/partners/unimusik.png" alt="Музыкальная школа УниМузик, г. Таганрог" />
		</div>

		<div class="partners_item col-sm-2">
			<img class="partners_item__img img-responsive" src="/images/content/partners/teatr.png" alt="Театр кукол Чеширский Кот, г. Таганрог" />
		</div>
			
		<div class="partners_item col-sm-2">
			<img class="partners_item__img img-responsive" src="/images/content/partners/mctp.png" alt="Международный Центр Творческих Перспекив, г. Таганрог" />
		</div>
			
		<div class="partners_item col-sm-3">
			 
		</div>  
	</div>
</section>