<section class="titleholder text-center">
	<h1>начни новую жизнь уже сегодня!</h1>
</section>

<!-- Courses -->
<div class="courselist container">
	<div class="section-title text-center"><h2><a href="<%= courses_path %>">Актуальные курсы</a></h2></div>
	<div class="row">
		<% @courses_next.each do |course| %>
			<!-- a course -->
			<div class="courselist_item col-sm-4">
				<a href="<%= course_path(course) %>"><%= image_tag course.featured_image.url(:homepage), :class => "courselist_item__img img-responsive", :alt => course.title %></a>
					
				<div class="row">
					<div class="col-xs-3 col-sm-4 col-md-3">
						<ul class="courselist_item__date text-center list-unstyled">
							<% if course.start_date >= (Time.now.midnight - 7.days) %>
									<li class="courselist_item__date-day"><%= l course.start_date, format: :day_of_month %></li>
									<li class="courselist_item__date-month"><%= l course.start_date, format: :month_short %></li>
							<% else %>
									<li class="courselist_item__date-enroll">идёт набор</li>
							<% end %>
						</ul>
					</div>
							
					<div class="courselist_item__text pos-rel col-xs-9 col-sm-8 col-md-9">
						<a class="courselist_item__text-title" href="<%= course_path(course) %>"><%= truncate course.title, length: 50 %></a>	
						<p><%= truncate course.short_descr, length: 144 %><br></p>
						<p class="details">
							<strong>Стоимость:<br><%= "#{course.full_price.div(course.duration.to_i)}&nbsp;руб./мес.".html_safe if course.full_price != nil %><br>
							Продолжительность: <%= course.duration.to_i %> <%= 'мес.'.pluralize(course.duration, locale: :ru) %></strong>
						</p>	 
						<div class="btn-holder">
							<a class="btn courselist_item__btn color-fff no-dec" href="<%= new_signup_path course: course.id %>" data-remote="true" data-toggle="modal" data-target="#myModal">Отправить заявку</a>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div> 
	<div class="row">
		<div id="allcourses" class="col-xs-12 text-center">
		    <a href="<%= courses_path %>">
		    <button type="button" class="btn btn-primary btn-lg signup_button">
			Все курсы
		    </button>
		    </a>
		</div>
	</div>
</div>

<!-- Advantages -->
<div class="featureslist text-center">
	<!--<div class="section-title text-center"><h2>Карьера – это:</h2></div>-->
	<div class="container">
		<div class="row">
			<ul class="featureslist_item years-container list-unstyled col-md-4">
				<li class="featureslist_item__title years-icon pos-rel">более<br>25 лет</li>
				<li class="featureslist_item__text">на рынке</li>
			</ul>
			
			
			<ul class="featureslist_item courses-container list-unstyled col-md-4">
				<li class="featureslist_item__title courses-icon pos-rel"><%= @num_courses %> курсов</li>
				<li class="featureslist_item__text">доступно сегодня</li>
			</ul>

			<ul class="featureslist_item stud-container list-unstyled col-md-4">
				<li class="featureslist_item__title stud-icon pos-rel">более<br>17 690</li>
				<li class="featureslist_item__text">выпускников</li>
			</ul>
			
			
		</div>
	</div>
</div>

<!-- news & actions -->
<div class="newsblock">		
	<div class="container">
		<div class="row">
			<aside class="newsblock-left col-sm-5">
				<h2>новости</h2>
				<% @newslist.each do |news| %>
					<div class="newsblock_item">
						<span class="newsblock_item__link text-uppercase"><%= l news.created_at, format: :simpledate %></span>
						<div class="newsblock_item__text"><a href="<%= news_path news %>"><%= news.title %></a></div>
					</div>
				<% end %>

				<%= link_to 'Все новости', news_index_path, :class => 'newsblock_readmore' %>

			</aside>
			
			<aside class="newsblock-right col-sm-5 col-sm-offset-1">
				<h2>акции</h2>

				<% @hot_offers.each do |offer| %>
					<div class="newsblock_item">
						<span class="newsblock_item__link text-uppercase"><%= l offer.created_at, format: :simpledate %></span>
						<div class="newsblock_item__text"><%= raw offer.content %></div>
					</div>
				<% end %>
			
			</aside>
		</div>
	</div>
</div>

<!-- comments -->
<section class="comments container">
	<div class="section-title text-center">
		<h2><a href="<%= feedbacks_path %>">Выпускники о центре</a></h2>
	</div>
	
	
		<% counter = 0 %>
		<% @feedbacks.each do |feedback| %>
			<%= '<div class="row">'.html_safe if counter % 2 == 0 %>
			<article class="comments_item col-sm-5 <%= 'col-sm-offset-1' if counter % 2 != 0 %>">
				<h3><%= feedback.name %></h3>
				<h4><%= feedback.course != nil ? feedback.course.title : 'трудоустройство' %></h4>
				<p><%= feedback.content %></p> 
			</article>
			<%= '</div>'.html_safe if counter % 2 != 0 %>
			<% counter += 1 %>
		<% end %>
	
</section>

<!-- subscription -->

<div id="mc_embed_signup" class="subsblock">		
	<div class="container">
		<div class="row">
			<ul class="subsblock-left col-md-7 list-unstyled">
				<li class="subsblock_title color-fff text-uppercase">подпишитесь на новости!</li>
				<li class="subsblock_subtitle color-fff">И получайте информацию об актуальных акциях</li>
			</ul>
			
			<div class="subsblock-left col-md-5">
				<form action="//kariera-centr.us11.list-manage.com/subscribe/post?u=8fb8d6aa19536212a0afae2a2&amp;id=2b0a4f9c83" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<ul class="subsblock_form list-unstyled row">
						<li class="subsblock_form__item col-sm-7">
								<input id="mce-EMAIL" class="subsblock_form__item-input form-control" type="email" value="" placeholder="введите ваш email-адрес" name="EMAIL" required="required" />
								<div id="mce-responses" class="clear">
									<div class="response" id="mce-error-response" style="display:none"></div>
									<div class="response" id="mce-success-response" style="display:none"></div>
								</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8fb8d6aa19536212a0afae2a2_2b0a4f9c83" tabindex="-1" value=""></div>
						</li>
						<li class="subsblock_form__item col-sm-5"><input class="subsblock_form__item-submit btn color-fff bold" type="submit" name="subscribe" id="mc-embedded-subscribe" value="Подписаться" /></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- the section of partners is running -->
<section class="partners container">	
	<div class="section-title text-center"><h2>наши партнеры</h2></div>
	
	<div class="row">

		<div class="partners_item col-sm-2">
			 
		</div> 	
			
		<div class="partners_item col-sm-2">
			<img class="partners_item__img img-responsive" src="/images/content/partners/cz.png" alt="ГКУРО Центр занятости населения г. Таганрога" />
		</div>

		<div class="partners_item col-sm-2">
			<img class="partners_item__img img-responsive" src="/images/content/partners/unimusik.png" alt="Музыкальная школа УниМузик, г. Таганрог" />
		</div>
			
		<div class="partners_item col-sm-2">
			<img class="partners_item__img img-responsive" src="/images/content/partners/mctp.png" alt="Музыкальная школа УниМузик, г. Таганрог" />
		</div>

		<div class="partners_item col-sm-2">
			<img class="partners_item__img img-responsive" src="/images/content/partners/teatr.png" alt="Театр кукол Чеширский Кот, г. Таганрог" />
		</div>
			
		<div class="partners_item col-sm-2">
			 
		</div>  
	</div>
</section>

<%= render "application/modal_signup" %>