<div class="container-fluid">
  <div class="row">
    <div id="carousel-homepage" class="carousel slide col-xs-8 col-xs-offset-2" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-homepage" data-slide-to="1"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          Img1
          <div class="carousel-caption">
            First slide
          </div>
        </div>
        <div class="item">
          Img2
          <div class="carousel-caption">
            Second slide
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-homepage" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-homepage" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid">
  <div class="row">
    <div id="news" class="col-xs-4">
      <h3>Новости</h3>
      <ul class="list-group">
          <% @news.each do | news | %>
            <li class="list-group-item"><span><%= l news.created_at, format: :only_date %>:</span> <%= link_to truncate(news.content), news %> </li>
          <% end %>
      </ul>
      <button type="button" class="btn btn-xs btn-default center-block">
        <%= link_to 'Все новости...', news_index_path %>
      </button>
    </div>
    <div id="nextcourses" class="col-xs-4">
      <h3>Ближайшие курсы</h3>
      <div class="list-group">
        <% @courses_next.each do |course| %>
          <li class="list-group-item"><span><%= l course.start_date, format: :only_date %>:</span> <%= link_to course.title, course %></li>
        <% end %>
      </div>
      <button type="button" class="btn btn-xs btn-default center-block">
        <%= link_to 'Все курсы...', { controller: 'courses', action: 'search' } %>
      </button>
    </div>
    <div id="feedbackvids" class="col-xs-4">
      <h3>Видео о нас</h3>
      <iframe width="320" height="240" src="https://www.youtube.com/embed/h5gNHZBd99c?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<hr>

<div class="jumbotron">
      <div class="container">
        <h3>Профессиональное обучение и повышение квалификации в учебно-кадровом центре "Карьера" в г. Таганроге</h3>
        <p><small>В учебно-кадровом центре "Карьера" Вы сможете получить <strong>профессиональное обучение</strong> или пройти <strong>курсы повышения квалификации</strong> в Таганроге, а также превратить свои увлечения в сферу профессиональной деятельности.</small></p>
        <p><small>В Таганроге <strong>только программы нашего учебного центра</strong> прошли процедуру Государственного лицензирования по многим из предлагаемых учебных направлений.</small></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Читать дальше »</a></p>
      </div>
  </div>