<h1>Редактирование акции</h1>

<%= render 'form' %>

<%= link_to 'На страницу акции', @hot_offer %> |
<%= link_to 'На главную управления', root_control_path %> |
<%= link_to 'На управление акциями', "#{list_control_path}?content_type=hot_offers" %> |
<%= link_to 'На главную сайта', '/' %>
