<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <p id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <%= raw("<h3 class=\"text-danger\">#{flash[:notice]}</h3>") if not flash[:notice].nil? %>

  <p class="field">
    <%= f.label "Содержание" %><br>
    <%= f.cktext_area :content %>
  </p>
  <p class="actions">
    <%= f.submit action_name == 'new' ?  'Создать новость' : 'Редактировать новость'%>
  </p>
<% end %>
