<h1>Управление: <%= @content_type.capitalize %></h1>

<%= raw("<h3 class=\"text-danger\">#{flash[:notice]}</h3>") if not flash[:notice].nil? %>

<h3>
    <%= case @content_type
            when 'courses'
                link_to 'Создать курс', new_course_path
            when 'static_pages'
                link_to 'Создать страницу', new_static_page_path
            when 'news'
                link_to 'Создать новость', new_news_path
            when 'hot_offers'
                link_to 'Создать акцию', new_hot_offer_path
            when 'feedbacks'
                link_to 'Создать отзыв', new_feedback_path
            else
       end
    %>
</h3>

<table class="table table-condensed control_root">
            <thead>
              <tr>
                <th>Дата <%= @content_type == 'courses' ? "начала курса" : "публикации/обновления" %></th>
                <th>
                    <% case @content_type
                        when 'hot_offers' %>
                            Содержание
                    <%  when 'feedbacks' %>
                            Автор
                    <%  else %>
                            Заголовок
                    <% end %>
                </th>
                <th>Управление</th>
              </tr>
            </thead>
            <tbody>
            	<% @data.each do |item| %>
	              <tr>
	                <td>
                        <%= if not @content_type.in? ['news', 'feedbacks', 'static_pages'] and not item.start_date.nil?
                                l item.start_date, format: :short
                            elsif not item.updated_at.nil?
                                l item.updated_at, format: :short
                            else
                                l item.created_at, format: :short
                            end
                        %>
                    </td>
	                <td><%= link_to strip_tags( @content.call(item) ), item %></td>
	                <td>
	                	<%= link_to 'Редактировать', @edit_path.call(item), class: 'btn btn-xs btn-warning', style: 'margin-bottom: 7px' %><br>
	                	<%= link_to 'Удалить', "/#{@content_type}/#{item.id}?panel=list", method: :delete, data: { confirm: 'Уверены?' }, class: 'btn btn-xs btn-danger' %>
	                </td>
	              </tr>
	            <% end %>
            </tbody>
</table>

<%= link_to 'К общему управлению', root_control_path, class: "btn btn-lg btn-link" %>
