<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <p id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <%= raw("<h3 class=\"text-danger\">#{flash[:notice]}</h3>") if not flash[:notice].nil? %>

  <p class="field">
    <%= f.label "Название курса (на главной отобразятся только первые 50 символов)" %><br>
    <%= f.text_field :title %>
  </p>

   <p class="field">
    <%= f.label "Изображение курса" %>
    <% if not @course.featured_image.url.nil? %><br>
    <img src="<%= @course.featured_image.url %>" /><br><br>
  <% end %>
    <%= f.file_field :featured_image %>
  </p>
  <p class="field">
    <%= f.label "Краткое описание (максимум 144 символов)" %><br>
    <%= f.text_field :short_descr, maxlength: 144 %>
  </p>
  <p class="field">
    <%= f.label "Полное описание" %><br>
    <%= f.cktext_area :full_descr %>
  </p>
  <p>
    Можно использовать следующие коды подстановки:<br>
    <strong>[отзывы]</strong> - заменяется на блок с отзывами<br>
    <strong>[collapse heading="Заголовок"]Содержание[/collapse]</strong> – заменяется на разворачиваемый блок<br>
    <strong>[accordion][/accordion]</strong> – используется вместе с несколькими collapse
    для создания аккордионов (группы разворачивающихся блоков), например:<br>
    <blockqoute style="display: block; padding-left: 1em;">
      <strong>
        [accordion]<br>
        [collapse heading="Заголовок1"]Содержание1[/collapse]<br>
        [collapse heading="Заголовок2"]Содержание2[/collapse]<br>
        [collapse heading="Заголовок3"]Содержание3[/collapse]<br>
        [/accordion]
      </strong>  
    </blockqoute> <br>
    Кроме этого, доступно разбиение содержания на панели (тэбы):<br>
    <strong>[tabbed tabs="Заголовок1,Заголовок2,Заголовок3"]<br>
    [tab for="Заголовок1"]Содержание1[/tab]<br>
    [tab for="Заголовок2"]Содержание2[/tab]<br>
    [tab for="Заголовок3"]Содержание3[/tab]<br>
    [/tabbed]</strong> – Заголовки разделов в tabs="..." нужно разделять запятыми, нельзя, чтобы они начинались с цифр. Как минимум в одном [tab] должно быть active="1". Вместо [tabbed tabs="..."][/tabbed] можно 
    использовать <strong>[pilled tabs="..."][/pilled]</strong> для получения "кнопок" вместо тэбов.
  </p>
  <p class="field">
    <%= f.label "Дата начала" %><br>
    <%= f.date_select :start_date %>
  </p>
  <p class="field">
    <%= f.label "Продолжительность курса, месяцев" %><br>
    <%= f.select :duration, 1.step(by: 0.5, to: 12).to_a.collect!{|i| [i, i]}  %>
  </p>
  <p class="field">
    <%= f.label "Полная цена курса, рублей" %><br>
    <%= f.number_field :full_price %>
  </p>
  <p class="field">
    <%= f.label "Предоплата, сейчас не используется" %><br>
    <%= f.number_field :advance_payment %>
  </p>
  <p class="field">
    <%= f.label "Помесячная оплата, сейчас не используется" %><br>
    <%= f.number_field :monthly_payment %>
  </p>
  <p class="field">
    <%= f.label "Группа (время занятий)" %><br>
    <%= f.select :timegroup, options_for_select(@timegroups.collect { |s| [t(s[0]), s[0]] }, selected: @course.timegroup), {} , class: "form-control" %>
  </p>
  <p class="field">
    <%= f.label "Статус публикации" %><br>
    <%= f.select :published, options_for_select({"Опубликовано" => true, "Не опубликовано" => false}, selected: (@course.published != nil) ? @course.published : true), {}, class: "form-control" %>
  </p>
  <p class="actions">
    <%= f.submit action_name == 'new' ?  'Создать курс' : 'Редактировать курс' %>
  </p>
<% end %>
