<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <p id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <%= raw("<h3 class=\"text-danger\">#{flash[:notice]}</h3>") if not flash[:notice].nil? %>

  <p class="field">
    <%= f.label "Название курса (максимум 70 символов)" %><br>
    <%= f.text_field :title, maxlength: 70 %>
  </p>
  <p class="field">
    <%= f.label "Изображение курса" %>
    <%= f.file_field :featured_image %>
  </p>
  <p class="field">
    <%= f.label "Краткое описание (максимум 144 символов)" %><br>
    <%= f.text_field :short_descr, maxlength: 144 %>
  </p>
  <p class="field">
    <%= f.label "Полное описание" %><br>
    <%= f.cktext_area :full_descr %>
  </p>
  <p class="field">
    <%= f.label "Дата начала" %><br>
    <%= f.date_select :start_date %>
  </p>
  <p class="field">
    <%= f.label "Продолжительность курса, месяцев" %><br>
    <%= f.select :duration, 1.step(by: 0.5, to: 12).to_a.collect!{|i| [i, i]}  %>
  </p>
  <p class="field">
    <%= f.label "Полная цена курса, рублей" %><br>
    <%= f.number_field :full_price %>
  </p>
  <p class="field">
    <%= f.label "Группа (время занятий)" %><br>
    <%= f.select :timegroup, options_for_select(@timegroups.collect { |s| [t(s[0]), s[0]] }, selected: @course.timegroup), {} , class: "form-control" %>
  </p>
  <p class="actions">
    <%= f.submit action_name == 'new' ?  'Создать курс' : 'Редактировать курс' %>
  </p>
<% end %>
