<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <p id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </p>
  <% end %>

  <p class="field">
    <%= f.label "Название курса" %><br>
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label "Изображение курса" %>
    <%= f.file_field :featured_image %>
  </p>
  <p class="field">
    <%= f.label "Краткое описание" %><br>
    <%= f.text_area :short_descr %>
  </p>
  <p class="field">
    <%= f.label "Полное описание" %><br>
    <%= f.cktext_area :full_descr %>
  </p>
  <p class="field">
    <%= f.label "Дата начала" %><br>
    <%= f.date_select :start_date %>
  </p>
  <p class="field">
    <%= f.label "Полная цена курса, рублей" %><br>
    <%= f.number_field :full_price %>
  </p>
  <p class="field">
    <%= f.label "Группа (время занятий)" %><br>
    <%= f.select :timegroup, options_for_select(@timegroups.collect { |s| [t(s[0]), s[0]] }, selected: @course.timegroup), {} , class: "form-control" %>
  </p>
  <p class="actions">
    <%= f.submit action_name == 'new' ?  'Создать курс' : 'Редактировать курс' %>
  </p>
<% end %>
