

      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="text-center search_results_notice"><%= "Вы искали: #{@searched}" if not @searched.nil? %></h3>
          <%= form_tag("/courses", method: 'get') do %>
            <%= label_tag :titlepart, 'Поиск по курсам: ' %>
            <%= text_field_tag :titlepart, @searched %>
            <%= submit_tag 'Искать' %>
          <% end %>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-sm-12">
          <table id="courses" class="table table-condensed">
            <thead>
              <th class="course_title">Название курса</th>
              <th class="course_start_date">Дата начала</th>
            </thead>
            <tbody>
              <% @courses.each do |course| %>
                <tr>
                  <td class="course_title"><%= link_to course.title, course %></td>
                  <td class="course_start_date">
                    <%= if course.start_date >= Time.now.midnight - 7.days 
                          l course.start_date, format: :middle
                        else
                          'идёт набор'
                        end  %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

<% content_for :title, 'Курсы в Таганроге' %>
<% content_for :subtitle, 'наши образовательные программы' %>


