
<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Курс &laquo;<%= @course.title %>&raquo; в Таганроге</h2>
    <%= raw @course.full_descr %>
  </div>
</div>
<% if @course.start_date >= (Time.now.midnight - 7.days) %>
  <div class="row">
    <div class="col-xs-12" style="text-align: center">
      <h4><br>Начало занятий (предположительно): <%= l @course.start_date, format: :simpledate %></h4>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <h4><br>
     <strong style="text-transform: uppercase;">Запишитесь прямо сейчас</strong>!<br> <br> Позвоните нам по этому телефону:<br><br>
     <strong>8 (928) 622 50 50</strong><br><br>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <!-- Button trigger modal -->
    <a href="<%= new_signup_path course: @course.id %>" data-remote="true">
    <button type="button" class="btn btn-primary btn-lg signup_button" data-toggle="modal" data-target="#myModal">
      Записаться!
    </button>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Записаться на курс<br>&laquo;<%= @course.title %>&raquo;</h4>
          </div>
          <div id="container_signup" class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :title, raw("Курс \"#{@course.title}\" в Таганроге") %>



