
<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<% if @qtyPanels > 0 then %>
	<div class="row">
	  <div class="col-xs-12">     
		<ul class="nav nav-pills" role="tablist">
		    <% (0...ENV['COURSE_PANELS_QTY'].to_i).each do |i| %>
		    	<% next if @course["panel#{i}_title"] == ""  %>
		    	<li role="presentation" class="<%= "active" if i == 0 %> "><a href="#<%= "panel#{i}" %>" aria-controls="<%= "panel#{i}" %>" role="tab" data-toggle="tab"><%= @course["panel#{i}_title".to_sym] %></a></li>
		    <% end %>
	    </ul>
	    <div class="tab-content">
	   	  <% (0...ENV['COURSE_PANELS_QTY'].to_i).each do |i| %>
	   	  	<% next if @course["panel#{i}_title"] == ""  %>
	   	  	<div role="tabpanel" class="tab-pane fade <%= "active in" if i == 0 %> " id="<%= "panel#{i}" %>"><%= raw @course["panel#{i}_content".to_sym] %></div>
	   	  <% end %>
	    </div>
	  </div>
	</div>
<% end %>
<div class="row">
  <div class="col-xs-12"> 
    <%= raw @course.full_descr %>
  </div>
</div>
<% if @course.start_date >= (Time.now.midnight - 7.days) %>
  <div class="row simple">
    <div class="col-xs-12 text-center">
      <h5>Стоимость курса: <%= "#{@course.full_price.div(@course.duration.to_i)}&nbsp;руб./мес.".html_safe if @course.full_price != nil %></h5>
      <h5>Продолжительность курса: <%= @course.duration.to_i %> <%= 'мес.'.pluralize(@course.duration, locale: :ru) %></h5>
      <h4><br>Начало занятий: 
        <% if @course.start_date >= (Time.now.midnight - 7.days) %>
          <%= l @course.start_date, format: :simpledate %></h4>
        <% else %>
          идёт набор
        <% end %>
    </div>
  </div>
<% end %>
<div class="row simple">
  <div class="col-xs-12 text-center">
    <h4>
     <% if @course.start_date.between? (Time.now.midnight - 7.days), (Time.now.midnight + 5.days) %>
      <br>  
      <strong class="call_to_action hot">&nbsp;Вы ещё можете успеть!&nbsp;</strong><br><br><br>
     <% else %>
      <br>
    <% end %>
     <strong class="call_to_action underlined">Запишитесь прямо сейчас</strong>!<br><br>Воспользуйтесь кнопкой внизу<br>или позвоните нам по этому телефону:<br><br>
     <strong>8 (928) 622 50 50</strong><br><br>
    </h4>
  </div>
</div>
<div class="row simple">
  <div class="col-xs-12 text-center">
    <!-- Button trigger modal -->
    <a href="<%= new_signup_path course: @course.id %>" data-remote="true">
    <button type="button" class="btn btn-primary btn-lg signup_button" data-toggle="modal" data-target="#myModal">
	Отправить заявку!
    </button>
    </a>

    <%= render "application/modal_signup" %>
  </div>
</div>

<br><br>


<% content_for :title, raw("Курс \"#{@course.title}\" в Таганроге") %>



