
<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Курс &laquo;<%= @course.title %>&raquo; в&nbsp;Таганроге</h2>
    <hr>
    <%= raw @course.full_descr %>
  </div>
</div>
<% if @course.start_date >= (Time.now.midnight - 7.days) %>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h5>Стоимость курса: <%= @course.monthly_payment %>&nbsp;руб./мес. (+п/опл.&nbsp;<%= @course.advance_payment %>&nbsp;руб.)</h5>
      <h5>Продолжительность курса: <%= @course.duration.to_i %> <%= 'мес.'.pluralize(@course.duration, locale: :ru) %></h5>
      <h4><br>Начало занятий: <%= l @course.start_date, format: :simpledate %></h4>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-xs-12 text-center">
    <h4>
     <% if @course.start_date >= (Time.now.midnight - 7.days) and @course.start_date < (Time.now.midnight + 5.days) %>
      <br>  
      <strong class="call_to_action hot">&nbsp;Вы ещё можете успеть!&nbsp;</strong><br><br><br>
     <% else %>
      <br>
    <% end %>
     <strong class="call_to_action underlined">Запишитесь прямо сейчас</strong>!<br><br>Воспользуйтесь кнопкой внизу<br>или позвоните нам по этому телефону:<br><br>
     <strong>8 (928) 622 50 50</strong><br><br>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <!-- Button trigger modal -->
    <a href="<%= new_signup_path course: @course.id %>" data-remote="true">
    <button type="button" class="btn btn-primary btn-lg signup_button" data-toggle="modal" data-target="#myModal">
	Отправить заявку!
    </button>
    </a>

    <%= render "application/modal_signup" %>
  </div>
</div>

<br><br>


<% content_for :title, raw("Курс \"#{@course.title}\" в Таганроге") %>



