
<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Курс &laquo;<%= @course.title %>&raquo; в&nbsp;Таганроге</h2>
    <hr>
    <%= raw @course.full_descr %>
  </div>
</div>
<% if @course.start_date >= (Time.now.midnight - 7.days) %>
  <div class="row">
    <div class="col-xs-12 center_text">
      <h4><br>Начало занятий: <%= l @course.start_date, format: :simpledate %></h4>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-xs-12 center_text">
    <h4>
     <% if @course.start_date >= (Time.now.midnight - 7.days) and @course.start_date < (Time.now.midnight + 5.days) %>     
      <strong class="call_to_action" style="background-color: red; color: yellow">&nbsp;Вы ещё можете успеть!&nbsp;</strong><br><br>
     <% else %>
      <br>
    <% end %>
     <strong class="call_to_action">Запишитесь прямо сейчас</strong>!<br><br>Воспользуйтесь кнопкой внизу<br>или позвоните нам по этому телефону:<br><br>
     <strong>8 (928) 622 50 50</strong><br><br>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 center_text">
    <!-- Button trigger modal -->
    <a href="<%= new_signup_path course: @course.id %>" data-remote="true">
    <button type="button" class="btn btn-primary btn-lg signup_button" data-toggle="modal" data-target="#myModal">
	Отправить заявку!
    </button>
    </a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Отправить заявку на курс<br>&laquo;<%= @course.title %>&raquo;</h4>
          </div>
          <div id="container_signup" class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>


<% content_for :title, raw("Курс \"#{@course.title}\" в Таганроге") %>



