<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : 'Учебный центр "Карьера", г. Таганрог' %></title>
  <%= '<meta name="description" content="%{:description}">' if content_for? :description %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="navbar top" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img id="logo_small" src="/images/logo_small.png" alt="<%= t :orgname_short %>"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
	        <ul class="nav navbar-nav">
	        	<li><a href="/aboutus">О центре</a></li>
	        	<li><a href="/ourcourses">Курсы</a></li>
	        	<li><a href="/feedback">Отзывы</a></li>
	        	<li><a href="https://docs.google.com/spreadsheets/d/1J5_6oTqTjHn1plrxoeswgFpyzaee_-S3Zgv5MO6HsIc/edit?usp=sharing">Расписание занятий</a></li>
	        	<li><a href="/contactus">Контакты</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right social">
	        	<li><a href="https://vk.com/clubkaryera_centr" title="Мы в Вконтакте">&#xe003;</a></li>
	        	<li><a href="http://ok.ru/group/52205747699889" title="Мы в Одноклассниках">&#xe00d;</a></li>
	        	<li><a href="https://www.facebook.com/kariera.centr" title="Мы в Facebook">&#xe021;</a></li>
	        </ul>
	    </div>
      </div>
 </nav>




<div class="container">
	
	<div class="row">
		<% if not 'homepage_controller' == controller_name %>
			<main class="col-xs-6">
				<%= yield %>
			</main>
			<aside class="col-xs-4 coll-xs-offset-2">
				<%= render 'layouts/sidebar' %>
		    </aside>
		<% else %>
			<main class="col-xs-12">
				<%= yield %>
			</main>
		<% end %>
	</div>


	<hr>

	<footer class="text-muted">
		<div class="row">
				<div class="col-xs-4 col-xs-offset-2">
						<h4>
							Учебно-кадровый центр &quot;Карьера&quot;<br>
							<small>Профессиональное обучение и курсы повышения квалификации в г. Таганроге
							</small>
						</h4>
						<p><small>Мы стараемся способствовать улучшению профессионалных перспектив граждан через оказание качественных образовательных услуг в сфере краткосрочного прфоессионального образования, а так же через оказание услуг в сфере трудоустройства и подбора персонала.</small>
						</p>
				</div>
				<div class="col-xs-4">
					<h4>Контактные данные</h4>
					<small>
					<ul id="contacts_small">
						<li><strong>Обучение</strong>: 8 (8634) 62-13-62</li>
						<li><strong>Кадры</strong>: 8 (8634) 321-400</li>
						<li><strong>Skype</strong>: karyera_centr</li>
						<li><strong>ICQ</strong>: 619 258 919</li>
						<li><strong>E-mail</strong>: info@karyera-centr.ru</li>
						<li><strong>Адрес</strong>: г.&nbsp;Таганрог, ул.&nbsp;Осипенко 6</li>
					</ul>
					</small>
				</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="bottom_buttons" class="center-block">
					<button id="linktop" type="button" class="btn btn-lg btn-link">
						<a href="#top">
							<small>
							Наверх
							</small>
						</a>
					</button>
					|
					<buttonn type="button" class="btn btn-lg btn-link">
						<small><a href="#">Вход для администрации</a></small>
					</buttonn>
				</div>
			</div>
		</div>
	</footer>

</div>
</body>
</html>
