<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? "#{content_for(:title)} | Учебно-кадровый центр \"Карьера\", г. Таганрог. Профессиональное обучение и курсы повышения квалификации." : 'Учебно-кадровый центр "Карьера", г. Таганрог. Профессиональное обучение и курсы повышения квалификации.' %></title>
  <%= '<meta name="description" content="%{:description}">' if content_for? :description %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="http://kariera-centr.ru/favicon.ico" />
  <link rel="icon" sizes="32x32" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="Новости учебно-кадрового центра Карьера" href="http://kariera-centr.ru/news/feed?format=rss">
<% if cookies[:is_admin] != "true" %>
        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-18235536-2', 'auto');
          ga('require', 'linkid', 'linkid.js');
          ga('require', 'displayfeatures');
          ga('send', 'pageview');

        </script>
        <!-- /Google Analytics -->
<% end %>
</head>
<body>

<nav id="navbar top" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img id="logo_small" src="/images/logo_top_2.png" alt="<%= t :orgname_short %>"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
	        <ul class="nav navbar-nav">
	        	<li><a href="/о-нас">О центре</a></li>
	        	<li><a href="/courses">Курсы</a></li>
	        	<li><a href="http://kariera-centr.ru/static_pages/5">Трудоустройство</a></li>
	        	<li><a href="https://docs.google.com/spreadsheets/d/1J5_6oTqTjHn1plrxoeswgFpyzaee_-S3Zgv5MO6HsIc/edit?usp=sharing" target="_blank">Расписание занятий</a></li>
	        	<li><a href="/контакты">Контакты</a></li>
	        </ul>
	        <ul class="nav navbar-nav navbar-right social">
	        	<li><a href="https://vk.com/clubkaryera_centr" title="Мы в Вконтакте">&#xe003;</a></li>
	        	<li><a href="http://ok.ru/group/52205747699889" title="Мы в Одноклассниках">&#xe00d;</a></li>
	        	<li><a href="https://www.facebook.com/kariera.centr" title="Мы в Facebook">&#xe021;</a></li>
	        </ul>
	    </div>
      </div>
 </nav>




<div class="container">

	<div class="row">
		<% if controller_name == 'homepage_controller' %>
			<main class="col-sm-12">
				<%= yield %>
			</main>
		<% else %>
			<main class="col-sm-9">
				<%= yield %>
			</main>
			<aside class="col-sm-3">
				<%= render "sidebar" %>
			</aside>
		<% end %>
	</div>

</div>


<% if true #not ('courses' == controller_name and 'show' == action_name) %>
<footer class="text-muted container-fluid">
	<div class="row">
			<div class="col-sm-5 col-sm-offset-2">
					<h4>
						Учебно-кадровый центр &quot;Карьера&quot;<br>
						<small>Профессиональное обучение и курсы повышения квалификации в г. Таганроге
						</small>
					</h4>
					<p><small>Мы стараемся способствовать улучшению профессионалных перспектив граждан через оказание качественных образовательных услуг в сфере краткосрочного профессионального образования, а так же через оказание услуг в сфере трудоустройства и подбора персонала.</small>
					</p>
			</div>
			<div class="col-sm-5">
				<h4>Контактные данные<small><br>Вы можете связаться с нами:</small></h4>
				<small>
				<ul id="contacts_small">
					<li><strong>Телефоны</strong>: 
						<ul>
							<li>8 (8634) 614 414</li>
							<li>8 (8634) 311 199</li>
							<li>8 928 622 50 50</li>
						</ul>
					</li>
					<li><strong>Skype</strong>: karyera_centr</li>
					<li><strong>ICQ</strong>: 619 258 919</li>
					<li><strong>E-mail</strong>: <a href="mailto:info@karyera-centr.ru">info@karyera-centr.ru</a></li>
					<li><strong>Адрес</strong>: г.&nbsp;Таганрог, ул.&nbsp;Греческая 107</li>
				</ul>
				</small>
			</div>
	</div>
	<div class="row" style="padding-bottom: 0.9em">
		<div class="col-sm-12">
			<div id="bottom_buttons" class="center-block">
				<button id="linktop" type="button" class="btn btn-xs btn-link"><a href="#top">Наверх</small></small></a></button>
				|
				<buttonn type="button" class="btn btn-xs btn-link"><a href="<%= root_control_path %>">Вход для администрации</a></buttonn>
			</div>
		</div>
	</div>
</footer>
<% end %> 

<script>
blueimp.Gallery(
  document.getElementById('links').getElementsByTagName('a'),
  {
    container: '#blueimp-gallery-carousel',
    carousel: true
  }
);
</script>

<div itemscope="" itemtype="http://schema.org/LocalBusiness" style="display:none;">
    <span itemprop="name">Учебно-кадровый центр "Карьера"</span>,
    <span itemprop="url">kariera-centr.ru</span>
  	<time itemprop="openingHours" datetime="Mo-Fr 09:00−17:00">Пн-Пт с 9:00 до 17:00</time>
    Контакты:
    <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
      Адрес:
      <span itemprop="streetAddress">Греческая, 107</span>,
      <span itemprop="addressLocality">Таганрог</span>,
     <span itemprop="addressRegion">Ростовская область</span>
    </div>
    Телефон: <span itemprop="telephone">+7 928 622 50 50</span>,
    Электронная почта: <span itemprop="email">info@karyera-centr.ru</span>
</div>
<% if cookies[:is_admin] != "true" %>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter24396481 = new Ya.Metrika({id:24396481,
	                    clickmap:true,
	                    trackLinks:true,
	                    accurateTrackBounce:true});
	        } catch(e) { }
	    });

	    var n = d.getElementsByTagName("script")[0],
	        s = d.createElement("script"),
	        f = function () { n.parentNode.insertBefore(s, n); };
	    s.type = "text/javascript";
	    s.async = true;
	    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

	    if (w.opera == "[object Opera]") {
	        d.addEventListener("DOMContentLoaded", f, false);
	    } else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/24396481" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
<% end %>
</body>
</html>
